node_modules/
.env
workspace/
sandbox/
.codesandbox/
.devcontainer/
.env.*
.next/
dist/
build/
.cache/
user-uploads/
.vite/
.turbo/
.svelte-kit/
.parcel-cache/
coverage/
!.env.example
!.env.sample
!.env.template
!.env.*.example
!.env.*.sample
!.env.*.template
!.env.example.*
!.env.sample.*
!.env.template.*
